.title {
  margin: 30px;
  border-bottom: 1px solid gray;
}

.content {
  margin: 50px;
  padding: 30px;
  background-color:  lightgray;
  border-radius: 8px;
}

.links {
  margin: 30px;
  border-bottom: 1px solid gray;
}
